@charset "UTF-8";
.banner {
  height: 480px;
  margin-bottom: 10px;
  background: #ccc;
}
.banner .container {
  display: flex;
  justify-content: space-between;
}
.banner .container .side {
  width: 190px;
  height: 480px;
}
.banner .container .side.left {
  padding: 16px 0 16px 12px;
  position: relative;
  background: #777;
}
.banner .container .side.left ul > li {
  height: 28px;
  color: #fff;
}
.banner .container .side.left ul > li:hover {
  background: #999395;
}
.banner .container .side.left ul > li a {
  font-size: 14px;
  color: #fff;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体", sans-serif;
  line-height: 28px;
}
.banner .container .side.left ul > li span {
  padding: 0 4px;
}
.banner .container .side.left ul > li .expanded {
  position: absolute;
  display: none;
  top: 0;
  left: 190px;
  width: 1000px;
  font-size: 200px;
  min-height: 480px;
  background: rgba(255, 0, 0, 0.5);
}
.banner .container .side.left ul > li:hover > .expanded {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .container .side.right {
  background: #fff;
}
.banner .container .side.right .user {
  height: 116px;
  padding: 0 15px;
  border-bottom: 1px solid #e6e6e6;
}
.banner .container .side.right .user .express {
  color: #c9a65b;
}
.banner .container .side.right .user .express:hover {
  color: #c81623;
}
.banner .container .side.right .user .user-info {
  padding: 15px 0;
  display: flex;
  align-items: center;
}
.banner .container .side.right .user .user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #c9a65b;
}
.banner .container .side.right .user .user-info div > p {
  margin-left: 10px;
}
.banner .container .side.right .user .user-info div > p a:last-child {
  margin-left: 7px;
}
.banner .container .side.right .user .user-info div > p:last-child {
  margin-top: 7px;
}
.banner .container .side.right .user .user-profit .button {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  width: 72px;
  height: 22px;
  color: #c81623;
  border: 2px solid #c81623;
  font-size: 12px;
}
.banner .container .side.right .user .user-profit .button:hover {
  color: #fff;
  background: #c81623;
}
.banner .container .side.right .news {
  height: 154px;
  padding: 0 15px;
}
.banner .container .side.right .news .nav {
  display: flex;
  position: relative;
  height: 27px;
  border-bottom: 1px solid #e6e6e6;
}
.banner .container .side.right .news .nav li {
  padding: 0 10px;
  cursor: pointer;
  height: 13px;
  margin: 7px 0;
  line-height: 13px;
  border-right: 1px solid #e6e6e6;
}
.banner .container .side.right .news .nav li:first-child {
  padding: 0 10px 0 0;
}
.banner .container .side.right .news .nav li:first-child:hover ~ .empty {
  display: block;
  left: 0;
}
.banner .container .side.right .news .nav li:nth-child(2):hover ~ .empty {
  display: block;
  left: 36px;
}
.banner .container .side.right .news .nav li:last-child {
  padding-right: 0;
  border: none;
  cursor: default;
  flex: 1;
  text-align: right;
}
.banner .container .side.right .news .nav li:last-child a:hover {
  color: #c81623;
}
.banner .container .side.right .news .nav .empty {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  content: '';
  width: 36px;
  height: 2px;
  background: #c81623;
  transition: .3s left ease;
}
.banner .container .side.right .news .content {
  position: relative;
  height: 127px;
  padding: 12px 0;
}
.banner .container .side.right .news .content ul {
  position: absolute;
}
.banner .container .side.right .news .content li {
  height: 24px;
  line-height: 24px;
}
.banner .container .side.right .news .content li a:hover {
  color: #c81623;
}
.banner .container .side.right .service {
  height: 210px;
}
.banner .container .side.right .service .row {
  width: 100%;
  display: flex;
}
.banner .container .side.right .service .row .box {
  flex: 1;
  display: flex;
  height: 70px;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  cursor: pointer;
}
.banner .container .side.right .service .row .box:hover a {
  color: #c81623;
}
.banner .container .side.right .service .row .box:last-child {
  border-right: none;
}
.banner .container .side.right .service .row .box i {
  color: #666;
  font-size: 25px;
}
.banner .container .side.right .service .row .box a {
  color: #666;
  font-size: 13px;
}
.banner .container .middle {
  height: 480px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.banner .container .middle .carousel {
  width: 100%;
  height: 340px;
  margin-bottom: 10px;
  background: #777;
  overflow: hidden;
}
.banner .container .middle .half {
  width: calc(50% - 5px);
  height: 130px;
  background: #ccc;
  overflow: hidden;
}
.banner .container .middle .half a {
  display: block;
  height: 100%;
  text-align: center;
}

.seckill {
  height: 305px;
  background: #999;
}
.seckill .title {
  height: 55px;
  background: #e01222;
  padding: 0 20px 0 30px;
}
.seckill .title p {
  font-family: arial;
  height: 100%;
  line-height: 55px;
  vertical-align: baseline;
  float: left;
  font-size: 26px;
  color: #fff;
}
.seckill .title p a {
  color: #fff;
  font-size: 14px;
}
.seckill .title p a i {
  font-size: 16px;
  font-weight: bold;
  margin-left: 3px;
}
.seckill .title .timeleft {
  float: right;
  height: 100%;
}
.seckill .title .timeleft span {
  font-size: 14px;
  color: #fff;
}
.seckill .title .timeleft strong {
  display: inline-block;
  font-size: 24px;
}
.seckill .title .timeleft strong.time {
  margin-top: 9px;
  width: 35px;
  text-align: center;
  line-height: 37px;
  color: red;
  background: #440106;
  border-radius: 3px;
}
.seckill .content {
  display: flex;
  flex-flow: row nowrap;
  padding: 12px 0 13px 0;
  height: 250px;
  justify-content: space-between;
}
.seckill .content .carousel {
  width: calc(100% - 190px);
  position: relative;
  height: 225px;
}
.seckill .content .carousel button {
  position: absolute;
  display: none;
  border: none;
  outline: none;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  top: 50%;
  z-index: 1;
  transform: translate(0, -50%);
  cursor: pointer;
}
.seckill .content .carousel button i {
  font-size: 15px;
  color: #999;
}
.seckill .content .carousel button i:hover {
  color: #c81623;
}
.seckill .content .carousel button.prev {
  left: 5px;
}
.seckill .content .carousel button.next {
  right: 5px;
}
.seckill .content .carousel:hover > button {
  display: block;
}
.seckill .content .carousel ul {
  position: absolute;
  width: 100%;
  background: pink;
  font-size: 0;
}
.seckill .content .carousel ul li {
  display: inline-block;
  width: 200px;
  height: 225px;
  padding: 0 14px 0 15px;
}
.seckill .content .carousel ul li:not(:last-child) {
  border-right: 1px solid black;
}
.seckill .content .carousel ul li .pic {
  height: 162px;
  width: 170px;
  position: relative;
}
.seckill .content .carousel ul li .pic img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  transition: bottom .3s ease;
}
.seckill .content .carousel ul li:hover > .pic > img {
  bottom: 30px;
}
.seckill .content .carousel ul li .link {
  height: 32px;
  font-size: 12px;
}
.seckill .content .carousel ul li .link a {
  color: #999;
}
.seckill .content .carousel ul li .link a:hover {
  color: #c81623;
}
.seckill .content .carousel ul li .price {
  height: 31px;
}
.seckill .content .carousel ul li .price .red {
  color: red;
}
.seckill .content .carousel ul li .price strong {
  font-size: 20px;
}
.seckill .content .carousel ul li .price span {
  font-size: 13px;
}

.discover {
  height: 444px;
  background: #ccc;
}
.discover .container {
  display: flex;
  justify-content: space-between;
}
.discover .container section {
  width: 390px;
  height: 100%;
}
.discover .container section .title {
  width: 100%;
  height: 55px;
  background: #bbb;
}
.discover .container section .content {
  width: 390px;
  height: 389px;
  padding: 10px;
  background: #666;
}
.discover .container .goods {
  display: flex;
  flex-flow: row wrap;
}
.discover .container .goods .title {
  background: #4998a1;
}
.discover .container .goods .content {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}
.discover .container .goods .content .box {
  width: 185px;
  height: 120px;
  border-bottom: 1px solid #e7e7e7;
}
.discover .container .goods .content:after {
  position: absolute;
  left: 50%;
  content: '';
  width: 1px;
  height: 369px;
  background: red;
}

.lottery {
  height: 215px;
  background: #999;
}
.lottery .container .content {
  height: 100%;
  display: flex;
}
.lottery .container .content section {
  flex: 1;
  border-right: 1px solid #e7e7e7;
}

.fullwidth {
  height: 100px;
  background: #ccc;
}
.fullwidth .container {
  display: flex;
}
.fullwidth .container section {
  flex: 1;
  border-right: 1px solid red;
}

.enjoyfeature {
  height: 585px;
  background: #999;
}
.enjoyfeature .container header {
  height: 55px;
  font-size: 26px;
  text-align: center;
  line-height: 55px;
}
.enjoyfeature .container .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 530px;
}
.enjoyfeature .container .content .feature {
  width: 390px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}
.enjoyfeature .container .content .feature .box {
  width: 100%;
  height: 170px;
  background: red;
}
.enjoyfeature .container .content .live {
  width: 390px;
  background: green;
}

/*# sourceMappingURL=header.css.map */
