@charset "UTF-8";
.banner {
  height: 480px;
  margin-bottom: 10px;
}
.banner .container {
  display: flex;
  justify-content: space-between;
}
.banner .container .side {
  width: 190px;
  height: 480px;
}
.banner .container .side.left {
  padding: 16px 0 16px 12px;
  position: relative;
  background: #777;
}
.banner .container .side.left ul > li {
  height: 28px;
  color: #fff;
}
.banner .container .side.left ul > li:hover {
  background: #999395;
}
.banner .container .side.left ul > li a {
  font-size: 14px;
  color: #fff;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体", sans-serif;
  line-height: 28px;
}
.banner .container .side.left ul > li span {
  padding: 0 4px;
}
.banner .container .side.left ul > li .expanded {
  position: absolute;
  display: none;
  top: 0;
  left: 190px;
  width: 1000px;
  font-size: 200px;
  min-height: 480px;
  background: rgba(255, 0, 0, 0.5);
}
.banner .container .side.left ul > li:hover > .expanded {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .container .side.right {
  background: #fff;
}
.banner .container .side.right .user {
  height: 116px;
  padding: 0 15px;
  border-bottom: 1px solid #e6e6e6;
}
.banner .container .side.right .user .express {
  color: #c9a65b;
}
.banner .container .side.right .user .express:hover {
  color: #c81623;
}
.banner .container .side.right .user .user-info {
  padding: 15px 0;
  display: flex;
  align-items: center;
}
.banner .container .side.right .user .user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #c9a65b;
}
.banner .container .side.right .user .user-info div > p {
  margin-left: 10px;
}
.banner .container .side.right .user .user-info div > p a:last-child {
  margin-left: 7px;
}
.banner .container .side.right .user .user-info div > p:last-child {
  margin-top: 7px;
}
.banner .container .side.right .user .user-profit .button {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  width: 72px;
  height: 22px;
  color: #c81623;
  border: 2px solid #c81623;
  font-size: 12px;
}
.banner .container .side.right .user .user-profit .button:hover {
  color: #fff;
  background: #c81623;
}
.banner .container .side.right .news {
  height: 154px;
  padding: 0 15px;
}
.banner .container .side.right .news .nav {
  display: flex;
  position: relative;
  height: 27px;
  border-bottom: 1px solid #e6e6e6;
}
.banner .container .side.right .news .nav li {
  padding: 0 10px;
  cursor: pointer;
  height: 13px;
  margin: 7px 0;
  line-height: 13px;
  border-right: 1px solid #e6e6e6;
}
.banner .container .side.right .news .nav li:first-child {
  padding: 0 10px 0 0;
}
.banner .container .side.right .news .nav li:first-child:hover ~ .empty {
  display: block;
  left: 0;
}
.banner .container .side.right .news .nav li:nth-child(2):hover ~ .empty {
  display: block;
  left: 36px;
}
.banner .container .side.right .news .nav li:last-child {
  padding-right: 0;
  border: none;
  cursor: default;
  flex: 1;
  text-align: right;
}
.banner .container .side.right .news .nav li:last-child a:hover {
  color: #c81623;
}
.banner .container .side.right .news .nav .empty {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  content: '';
  width: 36px;
  height: 2px;
  background: #c81623;
  transition: .3s left ease;
}
.banner .container .side.right .news .content {
  position: relative;
  height: 127px;
  padding: 12px 0;
}
.banner .container .side.right .news .content ul {
  position: absolute;
}
.banner .container .side.right .news .content li {
  height: 24px;
  line-height: 24px;
}
.banner .container .side.right .news .content li a:hover {
  color: #c81623;
}
.banner .container .side.right .service {
  height: 210px;
}
.banner .container .side.right .service .row {
  width: 100%;
  display: flex;
}
.banner .container .side.right .service .row .box {
  flex: 1;
  display: flex;
  height: 70px;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  cursor: pointer;
}
.banner .container .side.right .service .row .box:hover a {
  color: #c81623;
}
.banner .container .side.right .service .row .box:last-child {
  border-right: none;
}
.banner .container .side.right .service .row .box i {
  color: #666;
  font-size: 25px;
}
.banner .container .side.right .service .row .box a {
  color: #666;
  font-size: 13px;
}
.banner .container .middle {
  height: 480px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.banner .container .middle .carousel {
  width: 100%;
  height: 340px;
  margin-bottom: 10px;
  background: #777;
  overflow: hidden;
}
.banner .container .middle .half {
  width: calc(50% - 5px);
  height: 130px;
  background: #ccc;
  overflow: hidden;
}
.banner .container .middle .half a {
  display: block;
  height: 100%;
  text-align: center;
}

.seckill {
  height: 305px;
}
.seckill .title {
  height: 55px;
  background: #e01222;
  padding: 0 20px 0 30px;
}
.seckill .title p {
  font-family: arial;
  height: 100%;
  line-height: 55px;
  vertical-align: baseline;
  float: left;
  font-size: 26px;
  color: #fff;
}
.seckill .title p a {
  color: #fff;
  font-size: 14px;
}
.seckill .title p a i {
  font-size: 16px;
  font-weight: bold;
  margin-left: 3px;
}
.seckill .title .timeleft {
  float: right;
  height: 100%;
}
.seckill .title .timeleft span {
  font-size: 14px;
  color: #fff;
}
.seckill .title .timeleft strong {
  display: inline-block;
  font-size: 24px;
}
.seckill .title .timeleft strong.time {
  margin-top: 9px;
  width: 35px;
  text-align: center;
  line-height: 37px;
  color: red;
  background: #440106;
  border-radius: 3px;
}
.seckill .content {
  display: flex;
  flex-flow: row nowrap;
  padding: 12px 0 13px 0;
  height: 250px;
  justify-content: space-between;
  background: #fff;
}
.seckill .content .carousel {
  width: calc(100% - 190px);
  position: relative;
  height: 225px;
}
.seckill .content .carousel button {
  position: absolute;
  display: none;
  border: none;
  outline: none;
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  top: 50%;
  z-index: 1;
  transform: translate(0, -50%);
  cursor: pointer;
}
.seckill .content .carousel button i {
  font-size: 15px;
  color: #999;
}
.seckill .content .carousel button.prev {
  left: 5px;
}
.seckill .content .carousel button.next {
  right: 5px;
}
.seckill .content .carousel:hover > button {
  display: block;
}
.seckill .content .carousel ul {
  position: absolute;
  width: 100%;
  font-size: 0;
}
.seckill .content .carousel ul li {
  display: inline-block;
  width: 200px;
  height: 225px;
  padding: 0 14px 0 15px;
}
.seckill .content .carousel ul li:not(:last-child) {
  border-right: 1px solid #e7e7e7;
}
.seckill .content .carousel ul li .pic {
  height: 194px;
  width: 170px;
}
.seckill .content .carousel ul li .pic img {
  position: relative;
  bottom: 0;
  margin: 16px 20px;
  transition: bottom .3s ease;
}
.seckill .content .carousel ul li .pic .link {
  height: 32px;
  font-size: 12px;
}
.seckill .content .carousel ul li .pic .link a {
  color: #999;
}
.seckill .content .carousel ul li .pic:hover {
  cursor: pointer;
}
.seckill .content .carousel ul li .pic:hover .link > a {
  color: #c81623;
}
.seckill .content .carousel ul li .pic:hover > img {
  bottom: 10px;
}
.seckill .content .carousel ul li .price {
  height: 31px;
}
.seckill .content .carousel ul li .price .red {
  color: red;
}
.seckill .content .carousel ul li .price strong {
  font-family: Verdana;
  font-size: 18px;
  line-height: 31px;
  font-weight: bold;
}
.seckill .content .carousel ul li .price span {
  font-family: Verdana;
  font-size: 12px;
}
.seckill .content .carousel ul li .price span.invalid {
  padding-left: 5px;
  color: #999;
  text-decoration: line-through;
}
.seckill .content .kinds {
  padding: 0 5px;
}
.seckill .content .kinds a {
  float: right;
}

.discover {
  height: 444px;
}
.discover .container {
  display: flex;
  justify-content: space-between;
}
.discover .container section {
  width: 390px;
  height: 100%;
}
.discover .container section .title {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px 10px 30px;
  color: #fff;
}
.discover .container section .title p {
  font-size: 26px;
}
.discover .container section .title a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
}
.discover .container section .title a i {
  margin-left: 5px;
  font-size: 20px;
}
.discover .container section .content {
  width: 390px;
  height: 389px;
  padding: 10px;
  background: #fff;
}
.discover .container .goods {
  display: flex;
  flex-flow: row wrap;
}
.discover .container .goods .title {
  background: #4998a1;
}
.discover .container .goods .content {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}
.discover .container .goods .content .box {
  display: block;
  position: relative;
  padding: 10px 0 0 10px;
  width: 185px;
  height: 123px;
  border-bottom: 1px solid #e7e7e7;
}
.discover .container .goods .content .box .left {
  font-size: 14px;
  line-height: 20px;
  width: 70px;
}
.discover .container .goods .content .box img {
  position: absolute;
  right: 5px;
  bottom: 5px;
  transition: right .3s ease;
}
.discover .container .goods .content .box:hover > img {
  right: 10px;
}
.discover .container .goods .content .box:nth-child(5), .discover .container .goods .content .box:nth-child(6) {
  border-bottom: none;
}
.discover .container .goods .content:after {
  position: absolute;
  left: 50%;
  content: '';
  width: 1px;
  height: 369px;
  background: #e7e7e7;
}
.discover .container .album .title {
  background: #76488e;
}
.discover .container .album .content {
  position: relative;
}
.discover .container .album .content button {
  position: absolute;
  display: none;
  border: none;
  outline: none;
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  top: 50%;
  z-index: 1;
  transform: translate(0, -50%);
  cursor: pointer;
}
.discover .container .album .content button i {
  font-size: 15px;
  color: #999;
}
.discover .container .album .content button.prev {
  left: 5px;
}
.discover .container .album .content button.next {
  right: 5px;
}
.discover .container .album .content:hover > button {
  display: block;
}
.discover .container .album .content .pages {
  height: 350px;
  position: relative;
}
.discover .container .album .content .pages > div {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}
.discover .container .album .content .pages > div.active {
  display: block;
}
.discover .container .album .content .pages > div > a {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  padding: 14px 10px 0 10px;
  cursor: pointer;
}
.discover .container .album .content .pages > div > a:first-child {
  border-bottom: 1px solid #e7e7e7;
}
.discover .container .album .content .pages > div > a p {
  color: #fff;
  width: 100%;
  height: 31px;
  font-size: 14px;
}
.discover .container .album .content .pages > div > a .box {
  width: 110px;
  height: 100px;
  background: red;
}
.discover .container .album .content .bars {
  display: flex;
  justify-content: center;
}
.discover .container .album .content .bars li {
  width: 8px;
  height: 8px;
  color: #c8c8c8;
  background: red;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}
.discover .container .rank .title {
  background: #e77005;
}
.discover .container .rank .content .nav {
  width: 100%;
  height: 22px;
  display: flex;
  border-bottom: 1px solid;
}
.discover .container .rank .content .nav li {
  flex: 1;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
}
.discover .container .rank .content .nav li:not(:last-child) {
  border-right: 1px solid;
}
.discover .container .rank .content .nav li:hover > a {
  color: #c81623;
}
.discover .container .rank .content .boxes {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px 0;
  flex-flow: row wrap;
}
.discover .container .rank .content .boxes:after {
  position: absolute;
  content: '';
  top: 50%;
  width: 100%;
  height: 1px;
  background: black;
}
.discover .container .rank .content .boxes .box {
  width: calc(100% / 3);
  height: 167px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.discover .container .rank .content .boxes .box span {
  color: #999;
  text-align: center;
}
.discover .container .rank .content .boxes .box:hover > span {
  color: #c81623;
}
.discover .container .rank .content .boxes .box:not(:nth-child(3n)) {
  border-right: 1px solid green;
}

.lottery {
  height: 215px;
}
.lottery .container .content {
  height: 100%;
  display: flex;
  background: #fff;
}
.lottery .container .content a {
  position: relative;
  display: block;
  flex: 1;
}
.lottery .container .content a:not(:last-child) {
  border-right: 1px solid #e7e7e7;
}
.lottery .container .content a .left-cover {
  position: absolute;
  z-index: 3;
  top: 15px;
  left: 15px;
  width: 100px;
  height: 180px;
  border-top: 3px solid red;
  padding-top: 7px;
  background: #fff;
}
.lottery .container .content a .left-cover h3 {
  font-size: 34px;
  height: 36px;
  line-height: 36px;
  color: red;
}
.lottery .container .content a .left-cover h3 span {
  font-size: 12px;
  padding-right: 3px;
}
.lottery .container .content a .left-cover p {
  height: 42px;
  padding: 3px;
  font-size: 13px;
  color: red;
  line-height: 18px;
}
.lottery .container .content a .left-cover .dashed {
  height: 0;
  border: 1px dashed #e7e7e7;
}
.lottery .container .content a .left-cover .coupon_limit {
  height: 64px;
  padding: 14px 10px;
  color: #666;
  background: #e7e7e7;
  line-height: 18px;
}
.lottery .container .content a .left-cover .more_coupon {
  height: 26px;
  line-height: 26px;
  text-align: center;
  background: red;
  color: #fff;
}
.lottery .container .content a .shadow {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 100px;
  left: 85px;
  top: 40px;
  background: red;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}
.lottery .container .content a img {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 44px;
  transition: .3s left ease;
}
.lottery .container .content a:hover > img {
  left: 54px;
}
.lottery .container .content .lottery-center {
  flex: 1;
  background: #ea3524;
}
.lottery .container .content .lottery-center > * {
  margin: 0 25px;
}
.lottery .container .content .lottery-center h3 {
  color: #fff;
  margin-top: 25px;
  font-size: 30px;
  line-height: 36px;
  height: 36px;
}
.lottery .container .content .lottery-center .line {
  margin-top: 8px;
  margin-bottom: 20px;
  width: 55px;
  height: 3px;
  background: #fff;
}
.lottery .container .content .lottery-center p {
  height: 40px;
  line-height: 20px;
  font-size: 13px;
  color: #fff;
}
.lottery .container .content .lottery-center .button {
  margin-top: 20px;
  width: 140px;
  height: 30px;
  line-height: 26px;
  color: #fff;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lottery .container .content .lottery-center .button i {
  font-weight: bold;
  margin-left: 10px;
  font-size: 20px;
}

.fullwidth {
  height: 100px;
  background: #e0e0e0;
}
.fullwidth .container {
  display: flex;
}
.fullwidth .container a {
  display: block;
  flex: 1;
}

.enjoyfeature {
  height: 585px;
}
.enjoyfeature .container header {
  height: 55px;
  font-size: 26px;
  text-align: center;
  line-height: 55px;
}
.enjoyfeature .container .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 530px;
}
.enjoyfeature .container .content .feature {
  width: 390px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}
.enjoyfeature .container .content .feature .box {
  display: block;
  width: 100%;
  height: 170px;
  background: red;
  position: relative;
  overflow: hidden;
}
.enjoyfeature .container .content .feature .box .left {
  position: relative;
  z-index: 2;
  width: 140px;
  height: 100%;
  padding-top: 45px;
}
.enjoyfeature .container .content .feature .box .left p {
  width: 100px;
  margin: 0 auto;
}
.enjoyfeature .container .content .feature .box .left .title {
  font-size: 22px;
  line-height: 40px;
  height: 44px;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.enjoyfeature .container .content .feature .box .left .description {
  margin-top: 8px;
  font-size: 14px;
  line-height: 16px;
}
.enjoyfeature .container .content .feature .box.new > .left {
  background: #66B687;
}
.enjoyfeature .container .content .feature .box.new > .big {
  background: #66B687;
}
.enjoyfeature .container .content .feature .box.new > .super {
  background: #66B687;
}
.enjoyfeature .container .content .feature .box img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transition: .3s left ease;
}
.enjoyfeature .container .content .feature .box:hover > img {
  left: -10px;
}
.enjoyfeature .container .content .live {
  width: 390px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
.enjoyfeature .container .content .live a {
  display: block;
}
.enjoyfeature .container .content .live .video {
  position: relative;
  width: 390px;
  height: 350px;
  background: red;
}
.enjoyfeature .container .content .live .video header {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 38px;
  padding: 0 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.57);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enjoyfeature .container .content .live .video header h3 {
  font-size: 16px;
}
.enjoyfeature .container .content .live .video header span {
  vertical-align: middle;
  font-size: 13px;
}
.enjoyfeature .container .content .live .video header span i {
  vertical-align: middle;
  margin-left: 10px;
  font-size: 20px;
}
.enjoyfeature .container .content .live .video .imgs {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
}
.enjoyfeature .container .content .live .video .imgs li {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.enjoyfeature .container .content .live .video .imgs li .cover {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.enjoyfeature .container .content .live .video .imgs li img {
  height: 100%;
}
.enjoyfeature .container .content .live .video .imgs li .description {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 40px;
  color: #fff;
  text-align: center;
}
.enjoyfeature .container .content .live .video .imgs li .description h4 {
  height: 27px;
  line-height: 27px;
  font-size: 16px;
}
.enjoyfeature .container .content .live .video .imgs li .description p {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
.enjoyfeature .container .content .live .video .icon-play {
  position: absolute;
  z-index: 5;
  color: #fff;
  font-size: 60px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.enjoyfeature .container .content .live .video button {
  position: absolute;
  z-index: 6;
  border: none;
  outline: none;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}
.enjoyfeature .container .content .live .video button i {
  font-size: 15px;
  color: #fff;
}
.enjoyfeature .container .content .live .video button.prev {
  left: 0;
}
.enjoyfeature .container .content .live .video button.next {
  right: 0;
}
.enjoyfeature .container .content .live .video button:hover > i {
  color: #c81623;
}
.enjoyfeature .container .content .live .video .bars {
  position: absolute;
  z-index: 5;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
}
.enjoyfeature .container .content .live .video .bars li {
  width: 8px;
  height: 8px;
  margin: 4px;
  border-radius: 50%;
  background: #fff;
}
.enjoyfeature .container .content .live .box {
  position: relative;
  width: 190px;
  height: 170px;
  background: red;
  overflow: hidden;
}
.enjoyfeature .container .content .live .box .description {
  height: 80px;
  width: 100%;
  padding-top: 10px;
  background: green;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.enjoyfeature .container .content .live .box .description p {
  width: 100px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}
.enjoyfeature .container .content .live .box .description .title {
  height: 34px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  line-height: 30px;
  margin-bottom: 8px;
}
.enjoyfeature .container .content .live .box img {
  position: absolute;
  top: 0;
  left: 0;
  transition: left .3s ease;
}
.enjoyfeature .container .content .live .box:hover > img {
  left: -10px;
}

/*# sourceMappingURL=header.css.map */
