.lovelife {
  min-height: 523px;
}
.lovelife .container .header {
  height: 35px;
  margin-bottom: 20px;
}
.lovelife .container .content .title {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
}
.lovelife .container .content .title .row {
  height: 100%;
  padding: 16px 20px 16px 25px;
}
.lovelife .container .content .title .row .left {
  float: left;
  height: 100%;
}
.lovelife .container .content .title .row .left h3 {
  float: left;
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
  color: #fff;
}
.lovelife .container .content .title .row .left .qrcode {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 3px;
  margin-left: 15px;
  background: url(../img/qr.png) no-repeat;
  background-size: cover;
}
.lovelife .container .content .title .row .right {
  float: right;
  width: calc(100% - 145px);
  height: 100%;
  font-size: 0;
  overflow: hidden;
  text-align: right;
}
.lovelife .container .content .title .row .right .button {
  display: inline-block;
  height: 26px;
  font-size: 13px;
  margin-right: 10px;
  padding: 0 10px;
  line-height: 26px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #c187af;
}
.lovelife .container .content .title .row .right .button:hover {
  border-color: white !important;
}
.lovelife .container .content .title > .row.wander {
  background: #974676;
}
.lovelife .container .content .title > .row.wander .right > .button {
  border-color: #c187af;
}
.lovelife .container .content .title > .row.beauty {
  background: #cd375e;
}
.lovelife .container .content .title > .row.beauty .right > .button {
  border-color: #de7b95;
}
.lovelife .container .content .title > .row.device {
  background: #78538e;
}
.lovelife .container .content .title > .row.device .right > .button {
  border-color: #9e84b1;
}
.lovelife .container .content .title > .row.phone {
  background: #5e6c90;
}
.lovelife .container .content .title > .row.phone .right > .button {
  border-color: #94a1c0;
}
.lovelife .container .content .title > .row.digital {
  background: #488bad;
}
.lovelife .container .content .title > .row.digital .right > .button {
  border-color: #77b6c3;
}
.lovelife .container .content .title > .row.threec {
  background: #3aaba9;
}
.lovelife .container .content .title > .row.threec .right > .button {
  border-color: #6fcfce;
}
.lovelife .container .content .title > .row.sport {
  background: #568e7d;
}
.lovelife .container .content .title > .row.sport .right > .button {
  border-color: #79aa9e;
}
.lovelife .container .content .title > .row.food {
  background: #eeb924;
}
.lovelife .container .content .title > .row.food .right > .button {
  border-color: #f9d661;
}
.lovelife .container .content .title > .row.baby {
  background: #e16c46;
}
.lovelife .container .content .title > .row.baby .right > .button {
  border-color: #ef9f81;
}
.lovelife .container .content .title > .row.home {
  background: #a56741;
}
.lovelife .container .content .title > .row.home .right > .button {
  border-color: #c19369;
}
.lovelife .container .content .title > .row.read {
  background: #756059;
}
.lovelife .container .content .title > .row.read .right > .button {
  border-color: #9e8a84;
}
.lovelife .container .content .title > .row.car {
  background: #865454;
}
.lovelife .container .content .title > .row.car .right > .button {
  border-color: #b48787;
}
.lovelife .container .content .title > .row.lovegame {
  background: #6467a0;
}
.lovelife .container .content .title > .row.lovegame .right > .button {
  border-color: #9598cd;
}
.lovelife .container .content .title > .row.travel {
  background: #5981a3;
}
.lovelife .container .content .title > .row.travel .right > .button {
  border-color: #82a5bc;
}
.lovelife .container .content .title > .row.finance {
  background: #5a7259;
}
.lovelife .container .content .title > .row.finance .right > .button {
  border-color: #78977a;
}
.lovelife .container .content .title .full {
  width: 100%;
}
.lovelife .container .content .title .half {
  width: calc(50% - 5px);
}
.lovelife .container .content .title .tri {
  width: calc((100% - 20px)/3);
}
.lovelife .container .content .entity {
  display: flex;
  justify-content: space-between;
}
.lovelife .container .content .entity.cover {
  background: white;
}
.lovelife .container .content .entity section {
  padding: 10px;
  width: calc(50% - 5px);
  height: 465px;
}
.lovelife .container .content .entity section.cover {
  background: white;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: row wrap;
}
.lovelife .container .content .entity section.cover .moveleft {
  position: relative;
  overflow: hidden;
}
.lovelife .container .content .entity section.cover .moveleft a {
  position: absolute;
  display: inline-block;
  left: 0;
  transition: .3s left ease;
}
.lovelife .container .content .entity section.cover .moveleft:hover a {
  left: -10px;
}
.lovelife .container .content .entity section.cover .normal {
  width: calc((100% - 20px)/3);
  height: 130px;
  overflow: hidden;
}
.lovelife .container .content .entity section.cover .tall {
  height: 260px;
}
.lovelife .container .content .entity section.cover .tall.right {
  width: calc(2*(100% - 5px)/3);
  position: relative;
}
.lovelife .container .content .entity section.cover .tall.right:before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  top: 50%;
  background: #e6e6e6;
}
.lovelife .container .content .entity section.cover .tall.right:after {
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  width: 1px;
  left: 50%;
  background: #e6e6e6;
}
.lovelife .container .content .entity section.cover .tall.right .box {
  width: 50%;
  height: 50%;
  float: left;
}
.lovelife .container .content .entity section.cover .tall.right .box a {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 25px 10px 10px 5px;
  width: 100%;
  height: 100%;
}
.lovelife .container .content .entity section.cover .tall.right .box a p {
  position: relative;
  z-index: 2;
}
.lovelife .container .content .entity section.cover .tall.right .box a p.caption {
  font-size: 14px;
  margin-bottom: 12px;
}
.lovelife .container .content .entity section.cover .tall.right .box a p.bonus {
  font-size: 12px;
  color: #999;
  width: 52px;
}
.lovelife .container .content .entity section.cover .tall.right .box a img {
  position: absolute;
  z-index: 1;
  right: 5px;
  bottom: 5px;
  transition: .3s right ease;
}
.lovelife .container .content .entity section.cover .tall.right .box a:hover > img {
  right: 10px;
}
.lovelife .container .content .entity section.cover .logos {
  width: 100%;
  height: 35px;
  font-size: 0;
  position: relative;
}
.lovelife .container .content .entity section.cover .logos button {
  position: absolute;
  display: none;
  border: none;
  outline: none;
  background: transparent;
  top: 50%;
  z-index: 1;
  transform: translate(0, -50%);
  cursor: pointer;
}
.lovelife .container .content .entity section.cover .logos button i {
  font-size: 15px;
  color: #999;
}
.lovelife .container .content .entity section.cover .logos button i:hover {
  color: #c81623;
}
.lovelife .container .content .entity section.cover .logos button.prev {
  left: 0;
}
.lovelife .container .content .entity section.cover .logos button.next {
  right: 0;
}
.lovelife .container .content .entity section.cover .logos:hover > button {
  display: block;
}
.lovelife .container .content .entity section.cover .logos ul > li {
  position: relative;
  display: inline-block;
  width: calc(100% / 6);
  text-align: center;
}
.lovelife .container .content .entity section.cover .logos ul > li:after {
  position: absolute;
  content: '';
  right: 0;
  width: 1px;
  height: 100%;
  background: #e6e6e6;
}
.lovelife .container .content .entity section.cover .logos ul > li:last-child:after {
  display: none;
}
.lovelife .container .content .entity section.cover .logos ul > li a {
  display: inline-block;
}
.lovelife .container .content .entity section.cover.wander .box .caption {
  color: #974676;
}
.lovelife .container .content .entity section.tri {
  width: calc((100% - 20px)/3);
}
.lovelife .container .content .entity section.tri .normal {
  width: calc((100% - 10px)/2) !important;
}
.lovelife .container .content .entity section.tri .tall.right {
  width: calc((100% - 10px)/2);
}
.lovelife .container .content .entity section.tri .tall.right .box {
  width: 100%;
}
.lovelife .container .content .entity section.tri .tall.right:after {
  display: none;
}
.lovelife .container .content .entity section.tri .logos > ul > li {
  width: 25%;
}

.buyfeature {
  min-height: 195px;
}
.buyfeature .container .content {
  display: flex;
  justify-content: space-between;
}
.buyfeature .container .content section {
  width: calc((100% - 60px)/7);
  height: 140px;
  background: red;
}

/*# sourceMappingURL=lovelife.css.map */
