.container {
  width: 16rem;
  height: 100vh; }
  .container > header {
    height: 7.15rem; }
    .container > header .top {
      padding: 0.3rem 0.4rem;
      display: flex; }
      .container > header .top .bar {
        width: 1.25rem;
        display: flex;
        flex-flow: row wrap;
        color: #fff;
        justify-content: center; }
        .container > header .top .bar span {
          font-size: .4rem; }
      .container > header .top i {
        font-size: 0.85rem; }
      .container > header .top input {
        margin: 0 0.25rem;
        border-radius: 0.7rem;
        outline: none;
        font-size: .525rem;
        padding-left: 1.65rem;
        flex: 1;
        height: 1.4rem; }
    .container > header .carousel {
      position: absolute;
      width: 16rem;
      height: 7.15rem;
      z-index: -1; }
      .container > header .carousel .pictures > img {
        position: absolute;
        width: 16rem;
        height: 7.15rem; }
      .container > header .carousel .bars {
        position: absolute;
        bottom: 0.325rem;
        display: flex;
        width: 100%;
        justify-content: center; }
        .container > header .carousel .bars li {
          width: .3rem;
          height: .3rem;
          border-radius: .15rem;
          margin: .2rem;
          border: 0.075rem solid white; }
  .container main {
    height: calc(100vh - 7.15rem);
    background: #f3f3f3; }
    .container main .life ul {
      padding: 0.4rem 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around; }
      .container main .life ul li {
        width: 2.05rem;
        height: 2.4rem;
        margin: 0 0.575rem 0.5rem 0.575rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center; }
        .container main .life ul li img {
          width: 1.75rem;
          height: 1.75rem; }
        .container main .life ul li span {
          font-size: .5rem; }
    .container main .news {
      height: 1.25rem;
      border-radius: 0.625rem;
      background: #fff;
      display: flex;
      align-items: center;
      margin: 0 0.575rem;
      padding: 0 0.45rem; }
      .container main .news .newspic {
        height: 0.7rem; }
        .container main .news .newspic img {
          height: 0.7rem; }
      .container main .news .scroll-news {
        flex: 1; }
        .container main .news .scroll-news ul {
          overflow: hidden;
          margin-left: 0.3rem;
          height: 1.25rem; }
          .container main .news .scroll-news ul li span.red {
            font-size: 0.55rem;
            font-weight: bold;
            color: red;
            padding: 0 0.3rem; }
          .container main .news .scroll-news ul li a {
            line-height: 1.25rem; }
      .container main .news a {
        display: inline-block;
        border-left: 1px solid #ccc;
        font-size: 0.55rem; }
        .container main .news a.more {
          padding-left: 0.5rem; }
  .container footer {
    height: 2.15rem;
    position: absolute;
    bottom: 0;
    display: flex;
    background: #fff;
    align-items: center; }
    .container footer ul {
      display: flex;
      width: 16rem;
      justify-content: space-around; }
      .container footer ul i {
        font-size: 0.85rem; }
      .container footer ul li {
        width: 1.25rem;
        display: flex;
        flex-flow: row wrap;
        color: #777;
        justify-content: center; }
        .container footer ul li span {
          font-size: .4rem; }
        .container footer ul li.active {
          color: red; }

/*# sourceMappingURL=index.css.map */
