
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496123247558'); /* IE9*/
  src: url('iconfont.eot?t=1496123247558#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496123247558') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496123247558') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496123247558#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before { content: "\e665"; }

.icon-prev:before { content: "\e608"; }

.icon-search:before { content: "\e69d"; }

.icon-shoujihao:before { content: "\e622"; }

.icon-iconplane:before { content: "\e601"; }

.icon-next:before { content: "\e61e"; }

.icon-chips:before { content: "\e7cf"; }

.icon-down:before { content: "\e98a"; }

.icon-enterprise:before { content: "\e62b"; }

.icon-card:before { content: "\e600"; }

.icon-ticket:before { content: "\e607"; }

.icon-baitiao:before { content: "\e658"; }

.icon-qrcode:before { content: "\e6c6"; }

.icon-right:before { content: "\e664"; }

.icon-position:before { content: "\e623"; }

.icon-train:before { content: "\e81e"; }

.icon-hotel:before { content: "\e61b"; }

.icon-qianbao:before { content: "\e625"; }

.icon-game:before { content: "\e62a"; }

.icon-oil-copy:before { content: "\e602"; }

.icon-shoppingcart:before { content: "\e609"; }

